<div class="card-post">
  <h5 class="card-title">{{user.first_name}}</h5>
  <h6 class="card-subtitle mb-2 text-muted">{{user.user_name}}</h6>
  <p id="userpost" class="card-text">{{post}}</p>
  {{#if isOwned}}
  <button id="deletebttn" data-id="{{id}}">delete</button>
  {{/if}}
</div>รง