<div class="profile-card">
  <img src="./public/img/avatar.png" class="profile-pic" />
  <h3 class="profile-name">{{user.first_name}} {{user.last_name}}</h3>
  <h5 class="profile-username">{{user.user_name}}</h5>

  <hr class="line" />

  <p class="mt-4">
    I am a freelance IOS developer based out of Dallas, Tx
  </p>
</div>