<nav class="navbar bg-none">
  <div class="container-fluid">
    <a id="nav" class="navbar-brand">console.log</a>
  </div>
</nav>

<div class="container">
  <div class="row justify-content-between">
    <div class="col-4">
      <!-- profile card goes here -->
    </div>
    <div class="col-4">
      <!-- post cards go here -->
    </div>
  </div>
</div>