<div class="container row">
  <div class="jumbotron col-sm-4 pull-center">
    <form id="login-form">
      <div>
        <label>Email:</label>
        <input id="email-login" type="text" name="username" />
      </div>
      <div>
        <label>Password:</label>
        <input id="password-login" type="password" name="password" />
      </div>
      <div>
        <input class="btn btn-primary" type="submit" value="Log In" />
      </div>
    </form>
  </div>
</div>