<div class="card" style="width: 18rem">
        <!-- <img src="./public/img/avatar.png" class="profile-pic" /> -->
        <div id="profile-container">
          <image id="profileImage" src="./public/img/avatar.png" />
        </div>
        <input
          id="imageUpload"
          type="file"
          name="profile_photo"
          placeholder="Photo"
          required=""
          capture
        />
  <div class="card-body">
    <h3 class="card-title">user</h3>
    <h5 class="card-title">@user</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
  </div>
</div>