* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}

body {
  background-color: #f2f4ff;
  color: black;
  overflow: hidden;
}

footer {
  display: block;
  text-align: center;
  padding: 3px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

@media only screen and (max-width: 400px) {
  .profile-card {
    display: none !important;
  }

  .api-card {
    display: none;
  }
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  clip-path: circle(600px at right);
  z-index: 0;
}

.container {
  position: relative;
  width: 100%;
  margin: 50px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container span {
  text-transform: uppercase;
  color: #5f0a87;
  font-weight: 900;
}

.buttons {
  border-radius: 10px;
  padding: 5px 15px;
  border-color: none;
  margin: 10px;
  background-color: #f2f4ff;
  color: #5f0a87;
}

.buttons {
  border-radius: 10px;
  padding: 5px 15px;
  border-color: white;
  border-style: none;
  margin: 10px;
  background-color: #5f0a87;
  /* background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);  color: #5f0a87; */
  color: white;
}

.buttons:hover {
  background-color: white;
  border-color: #5f0a87;
  border-style: solid;
  color: #5f0a87;
}

.buttons-two {
  border-radius: 10px;
  padding: 5px 15px;
  border-color: #5f0a87;
  border-style: none;
  margin: 10px;
  background-color: white;
  /* background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);  color: #5f0a87; */
  color: #5f0a87;
}

.buttons-two:hover {
  background-color: #5f0a87;
  border-color: white;
  border-style: solid;
  color: white;
}

.sign-in {
  padding: 20px 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  margin: auto;
}

.sign-up {
  padding: 20px 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.circle-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  clip-path: circle(800px at left);
  z-index: 0;
}

.post-lists {
  overflow: scroll;
  scroll-behavior: smooth;
  height: calc(100vh - 158px);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  /* border-style: none; */
  border-color: #5f0a87;
  padding: 5px 5px;
}

.input-two {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  /* border-style: none; */
  border-color: #5f0a87;
  padding: 5px 5px;
}

.submit {
  border-style: none;
  border-color: none;
  padding: 10px 10px;
}

.profile-card {
  display: flex;
  border-style: solid;
  border-color: black;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

.content-post {
  flex: 3;
  margin: 0 18px;
}

.card {
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  display: inline-block;
  max-width: 800px;
  padding: 10px 10px;
  line-height: 20px;
}

.avatar {
  height: 70%;
  width: 100%;
  border-radius: 50%;
}

#dash-nav {
  color: #f2f4ff;
}

#log-nav {
  color: #f2f4ff;
}

.profile-card {
  display: inline-block;
  padding: 20px 20px;
  background-color: #f2f4ff;
  /* background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%); */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-style: none;
  color: black;
  width: 340px;
  height: fit-content;
}

.profile-pic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  padding: 10px;
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5f0a87;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  clip-path: circle(100%);
  z-index: -100;
}

.post {
  z-index: 100;
  padding: 10px 10px;
}

.dash-log-btn {
  width: 25%;
  border-style: none;
  border-radius: 10px;
  background-color: #5f0a87;
  color: #f2f4ff;
}

.card-post {
  display: inline-block;
  padding: 20px 20px;
  background-color: #f2f4ff;
  /* background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%); */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-style: none;
  color: black;
  width: 100%;
  margin-bottom: 8px;
}

.news {
  border-style: none;
  border-radius: 10px;
  background-color: #f2f4ff;
  /* background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%); */
  color: black;
  padding: 10px;
}

.api-news {
  display: inline-block;
}

.content {
  padding: 30px;
}

.api-card {
  border-radius: 10px;
  background-color: #f2f4ff;
  border-style: none;
  height: fit-content;
}

.hidden {
  display: none;
}

#imageUpload {
  display: none;
}

#profileImage {
  cursor: pointer;
}

#profile-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

#profile-container img {
  width: 150px;
  height: 150px;
}